#menuscout-guide-form {
  position: absolute;
  top: 5em;
  right: 1em;
  z-index: 10001;
}
#menuscout-guide-form label {
  display: inline;
}
#autocomplete.guide-popup {
  z-index: 10002;
}
#autocomplete.guide-popup .path {
  color: #777;
  font-size: 0.9em;
}
#autocomplete.guide-popup li.selected span.path {
   color: #d3e7f4;
}
